<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" dir="ltr">
<th:block th:replace="~{layout::all(~{this::#head} ,~{this::#content}, ~{this::#modal} ,~{this::#script})}">

    <span id="head">
        <title>메뉴관리-상품</title>
        <link href="/styles/searchBlock.css" rel="stylesheet">
    </span>

    <span id="content">
        <div class="grid-basic">
            <!-- 목록 -->
            <div class="box-leftPage cor-w">
                <div class="padding2" style="flex-direction: column;" id="defaultPage">
                    <span id="pageName" data-name="Product" style="display: none;"></span>
                    <div class="row-btw">
                        <div class="rowName90">상품명 :</div>
                        <div class="rowContent">
                            <input type="text" id="searchInput">
                        </div>
                        <div class="rowBtn"></div>
                    </div>
                    <div class="row-btw">
                        <div class="rowName90">카테고리명 :</div>
                        <div class="rowContent">
                            <select class="custom-m" id="searchSelect">
                                <option value="search0" selected>전체보기</option>
                                <option th:each="productCategoryDTO : ${productCategoryList}"
                                        th:value="search+${productCategoryDTO.id}"
                                        th:text="${productCategoryDTO.name}">
                                </option>
                            </select>
                        </div>
                        <div class="rowBtn"></div>
                    </div>
                    <div class="listBox-80">
                        <div class="scrollTableBox" id="scrollArea">
                            <table class="management selectTable">
                                <thead>
                                    <tr>
                                        <th class="wth25">상품번호</th>
                                        <th class="wth30">상품명</th>
                                        <th class="wth30">카테고리</th>
                                        <th class="wth15">가격</th>
                                    </tr>
                                </thead>
                                <tbody id="defaultInsertPoint"></tbody>
                            </table>
                        </div>
                        <div class="scrollBtnBox">
                            <button class="scroll" id="scrollUp" disabled>∧</button>
                            <button class="scroll" id="scrollDown" disabled>∨</button>
                        </div>
                    </div>
                </div>
                <div class="padding2" style="flex-direction: column; display: none;" id="addPage">
                    <div class="row-btw">
                        <div class="rowContent" style="font-size: 110%; font-weight: bold;">재료선택</div>
                        <div class="rowBtn">
                            <button class="close" onclick="closeAddPage()">X</button>
                        </div>
                    </div>
                    <div class="row-btw">
                        <div class="rowName90">자재명 :</div>
                        <div class="rowContent">
                            <input type="text" id="searchInput2">
                        </div>
                        <div class="rowBtn"></div>
                    </div>
                    <div class="row-btw">
                        <div class="rowName90">카테고리명 :</div>
                        <div class="rowContent">
                            <select class="custom-m" id="searchSelect2">
                                <option value="search0" selected>전체보기</option>
                                <option th:each="stockCategoryDTO : ${stockCategoryList}"
                                        th:value="search+${stockCategoryDTO.id}"
                                        th:text="${stockCategoryDTO.name}">
                                </option>
                            </select>
                        </div>
                        <div class="rowBtn"></div>
                    </div>
                    <div class="listBox-70">
                        <div class="scrollTableBox" id="scrollArea2">
                            <table class="management selectTable">
                                <thead>
                                    <tr>
                                        <th class="wth25">자재번호</th>
                                        <th class="wth30">자재명</th>
                                        <th class="wth30">카테고리</th>
                                        <th class="wth15">가격</th>
                                        <th class="wth15">단위</th>
                                    </tr>
                                </thead>
                                <tbody id="addInsertPoint"></tbody>
                            </table>
                        </div>
                        <div class="scrollBtnBox">
                            <button class="scroll" id="scrollUp2" disabled>∧</button>
                            <button class="scroll" id="scrollDown2" disabled>∨</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 오른쪽 화면 -->
            <div class="box-rightPage cor-w">
                <div class="padding2" style="flex-direction: column; justify-content: space-between;">
                    <span id="idNumber" data-number="0" style="display: none;"></span>
                    <div class="rows-box scrollBox">
                        <div class="row-btw">
                            <div class="rowName90">상품번호</div>
                            <div class="rowContent">
                                <input type="text" id="number">
                            </div>
                        </div>
                        <div class="row-btw">
                            <div class="rowName90">카테고리</div>
                            <div class="rowContent">
                                <select class="custom-m" id="category">
                                    <option th:each="productCategoryDTO : ${productCategoryList}"
                                            th:value="${productCategoryDTO.id}"
                                            th:text="${productCategoryDTO.name}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row-btw">
                            <div class="rowName90">상품명</div>
                            <div class="rowContent">
                                <input type="text" id="name">
                            </div>
                        </div>
                        <div class="row-btw">
                            <div class="rowName90">표시명</div>
                            <div class="rowContent">
                                <input type="text" id="displayName">
                            </div>
                        </div>
                        <div class="row-btw">
                            <div class="rowName90">판매가격</div>
                            <div class="rowContent">
                                <div class="overlap-box">
                                    <input type="text"
                                           class="autoComma overlap-input"
                                           id="price"
                                           oninput="formatAutoComma(this)"
                                    >
                                    <span class="overlap-span">원</span>
                                </div>
                            </div>
                        </div>
                        <div class="row-btw">
                            <div class="rowName90">원가</div>
                            <div class="rowContent">
                                <div class="overlap-box">
                                    <input type="text"
                                           class="autoComma overlap-input"
                                           id="cost"
                                           oninput="formatAutoComma(this)"
                                    >
                                    <span class="overlap-span">원</span>
                                </div>
                            </div>
                        </div>
                        <div class="row-fit">
                            <div class="rowName90" style="align-items: start;">
                                <span style="margin-right: 10px;">재료</span>
                                <button class="square30" onclick="openAddPage()">+</button>
                            </div>
                            <div class="rowContent" style="align-items: start;">
                                <table class="thine">
                                    <thead>
                                        <tr>
                                            <th class="wth40">자재명</th>
                                            <th class="wth25">용량</th>
                                            <th class="wth25">가격</th>
                                            <th class="wth10">삭제</th>
                                        </tr>
                                    </thead>
                                    <tbody id="receiptPoint"></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row-btw">
                        <div class="rowName90">품절처리</div>
                        <div class="rowContent" style="height: 80%; flex-direction: column;">
                            <div class="flex1 wth100 justify-l">
                                <input type="radio" id="auto" name="soldOut" checked>
                                <label for="auto">재료품절시 자동품절처리</label>
                            </div>
                        </div>
                    </div>
                    <div class="row-btw">
                        <div class="rowName90"></div>
                        <div class="rowContent" style="height: 80%; flex-direction: column;">
                            <div class="flex1 wth100 justify-l">
                                <input type="radio" id="manual" name="soldOut">
                                <label for="manual">재료품절과 관계없이 수동품절처리</label>
                            </div>
                        </div>
                    </div>
                    <div class="row-fit">
                        <button class="cud" id="crudD_Btn" onclick="deleteCrud()" disabled>삭제</button>
                        <button class="cud" id="crudCU_Btn" onclick="saveCrud()">저장</button>
                    </div>
                </div>
            </div>
            <!-- 메뉴버튼 -->
            <div class="box-menu-btn">
                <button class="menu" onclick="location.href='/product/category-settings'">상품<br/>카테고리<br/>관리</button>
                <button class="menu selected">상품<br/>관리</button>
                <button class="menu" onclick="location.href='/product/button-settings'">상품<br/>버튼<br/>관리</button>
            </div>
        </div>
    </span>

    <span id="modal"></span>

    <span id="script">
        <script type="module" src="/js/management_action.js"></script>
        <script src="/js/management.js"></script>
        <script src="/js/number.js"></script>
        <script src="/js/scroll.js"></script>
    </span>

</th:block>
</html>