<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" dir="ltr">
<th:block th:replace="~{layout::all(~{this::#head} ,~{this::#content}, ~{this::#modal} ,~{this::#script})}">

    <span id="head">
        <title>재고관리-수량</title>
        <link href="/styles/searchBlock.css" rel="stylesheet">
    </span>

    <span id="content">
        <div class="grid-basic">
            <!-- 목록 -->
            <div class="box-leftPage cor-w">
                <div class="padding2" style="flex-direction: column;" id="defaultPage">
                    <span id="pageName" data-name="StockMovement" style="display: none;"></span>
                    <div class="row-btw">
                        <div class="rowName90">재고명 :</div>
                        <div class="rowContent">
                            <input type="text" id="searchInput">
                        </div>
                        <div class="rowBtn"></div>
                    </div>
                    <div class="row-btw">
                        <div class="rowName90">카테고리명 :</div>
                        <div class="rowContent">
                            <select class="custom-m" id="searchSelect">
                                <option value="search0" selected>전체보기</option>
                                <option th:each="stockCategoryDTO : ${stockCategoryList}"
                                        th:value="search+${stockCategoryDTO.id}"
                                        th:text="${stockCategoryDTO.name}">
                                </option>
                            </select>
                        </div>
                        <div class="rowBtn"></div>
                    </div>
                    <div class="listBox-80">
                        <div class="scrollTableBox" id="scrollArea">
                            <table class="management selectTable">
                                <thead>
                                    <tr>
                                        <th class="wth25">재고번호</th>
                                        <th class="wth25">재고명</th>
                                        <th class="wth25">카테고리</th>
                                        <th class="wth15">가격</th>
                                        <th class="wth10">단위</th>
                                    </tr>
                                </thead>
                                <tbody id="defaultInsertPoint"></tbody>
                            </table>
                        </div>
                        <div class="scrollBtnBox">
                            <button class="scroll" id="scrollUp" disabled>∧</button>
                            <button class="scroll" id="scrollDown" disabled>∨</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 오른쪽 화면 -->
            <div class="box-rightPage cor-w">
                <div class="padding2" style="flex-direction: column; justify-content: space-between;">
                    <span id="idNumber" data-number="0" style="display: none;"></span>
                    <div class="rows-box scrollBox">
                        <div class="row-btw">
                            <div class="rowName90 icon">재고정보</div>
                        </div>
                        <div class="row-btw">
                            <div class="rowName90">재고</div>
                            <div class="rowContent justify-l" id="name"></div>
                        </div>
                        <div class="row-btw">
                            <div class="rowName90">재고수량</div>
                            <div class="rowContent justify-l" id="quantity"></div>
                        </div>
                        <hr class="bord2">
                        <div class="row-btw">
                            <div class="rowName90 icon">수량변경</div>
                        </div>
                        <div class="row-btw">
                            <div class="rowName90">유형</div>
                            <div class="rowContent">
                                <select class="custom-m" id="inoutType" onchange="changeInoutType()">
                                    <optgroup label="입고">
                                        <option value="0">구매입고</option>
                                        <option value="1">반품입고</option>
                                        <option value="2">이동입고</option>
                                        <option value="3">기타입고</option>
                                    </optgroup>
                                    <optgroup label="출고">
                                        <option value="4">판매출고</option>
                                        <option value="5">폐기출고</option>
                                        <option value="6">이동출고</option>
                                        <option value="7">기타출고</option>
                                    </optgroup>
                                    <optgroup label="조정">
                                        <option value="8">실사조정</option>
                                        <option value="9">초기조정</option>
                                        <option value="10">오류수정</option>
                                        <option value="11">기타조정</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="row-btw">
                            <div class="rowName90">수량</div>
                            <div class="rowContent" style="gap: 5px;">
                                <div class="flex1 wth100 justify-l">
                                    <input type="radio" id="plus" name="calculationType" disabled checked>
                                    <label for="plus">＋</label>
                                </div>
                                <div class="flex1 wth100 justify-l">
                                    <input type="radio" id="minus" name="calculationType" disabled>
                                    <label for="minus">－</label>
                                </div>
                                <input type="text" class="autoComma" oninput="formatAutoComma(this)" id="inoutQuantity" >
                            </div>
                        </div>
                        <div class="row-btw" style="flex: 1;">
                            <div class="rowName90" style="align-items: start;">비고</div>
                            <div class="rowContent">
                                <textarea class="textarea-l" id="notes"></textarea>
                            </div>
                        </div>
                        <div class="row-fit">
                            <span id="crudD_Btn"></span>
                            <button class="cud" id="crudCU_Btn" onclick="saveCrud()">저장</button>
                        </div>
                    </div>
                    <hr class="bord2">
                    <div class="row-btw">
                        <div class="rowName90 icon">품절</div>
                        <div class="rowContent justify-l" style="height: 80%;">
                            <input type="checkbox" class="switch" id="soldOut" onchange="changeSoldOut()">
                            <label for="soldOut" class="switch">
                                <span class="on">품절됨</span>
                                <span class="off">품절되지 않음</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 메뉴버튼 -->
            <div class="box-menu-btn">
                <button class="menu" onclick="location.href='/stock/category-settings'">재고<br/>카테고리<br/>관리</button>
                <button class="menu" onclick="location.href='/stock/management'">재고 품목<br/>관리</button>
                <button class="menu selected">재고 수량<br/>관리</button>
                <button class="menu" onclick="location.href='/stock/history'">재고 내역<br/>관리</button>
            </div>
        </div>
    </span>

    <span id="modal"></span>

    <span id="script">
        <script type="module" src="/js/management_action.js"></script>
        <script src="/js/management.js"></script>
        <script src="/js/number.js"></script>
        <script src="/js/scroll.js"></script>
    </span>

</th:block>
</html>