<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" dir="ltr">
<th:block th:replace="~{layout::all(~{this::#head} ,~{this::#content}, ~{this::#modal} ,~{this::#script})}">

    <span id="head">
        <title>신규 매장</title>
    </span>

    <span id="content">
        <div class="grid-basic">
            <!-- 왼쪽 화면 -->
            <div class="box-wholeLeftPage">
                <div class="padding2" style="flex-direction: column;">
                    <div class="rows-box scrollBox" style="white-space: nowrap;">
                        <div class="row-btw">
                            <div class="rowName90">사업자번호</div>
                            <div class="rowContent justify-l" th:text="${owner.regNumber}"></div>
                        </div>
                        <div class="row-btw">
                            <div class="rowName90">사업자명</div>
                            <div class="rowContent justify-l" th:text="${owner.name}"></div>
                        </div>
                        <div class="row-btw">
                            <div class="rowName90">매장이름</div>
                            <div class="rowContent">
                                <input type="text" id="storeName">
                            </div>
                        </div>
                        <div class="row-btw">
                            <div class="rowName90">매장주소</div>
                            <div class="rowContent">
                                <input type="text" id="storeLocation">
                            </div>
                        </div>
                        <div class="row-btw">
                            <div class="rowName90">매장전화번호</div>
                            <div class="rowContent">
                                <input type="text"
                                       class="phoneNumber"
                                       maxlength="13"
                                       oninput="formatPhoneNumber(this)"
                                       id="storeTel"
                                >
                            </div>
                        </div>
                        <div class="row-btw">
                            <div class="rowName90">적립률</div>
                            <div class="rowContent">
                                <input type="text" oninput="formatAutoComma(this)" value="0" id="pointPercent" style="margin-right: 5px;">
                                <span>%</span>
                            </div>
                        </div>
                        <div class="row-btw">
                            <div class="rowName90">운영상태</div>
                            <div class="rowContent justify-l">
                                <input type="checkbox" class="switch" id="openClose">
                                <label for="openClose" class="switch">
                                    <span class="on">개점</span>
                                    <span class="off">폐점</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row-fit">
                        <div></div>
                        <button class="cud" onclick="saveStore()">저장</button>
                    </div>
                </div>
            </div>
            <!-- 오른쪽 화면 -->
            <div class="box-wholeRightPage">
                <div class="padding2" style="flex-direction: column;">
                    <div class="rows-box scrollBox" style="white-space: nowrap;">
                        <div class="row-center icon" style="margin-bottom: 10px;">영업시간</div>
                        <div class="row-flex">
                            <table class="basic" style="height: 100%; text-align: center;">
                                <thead>
                                    <tr>
                                        <th class="wth15">요일</th>
                                        <th class="wth30">영업 시작 시간</th>
                                        <th class="wth30">영업 마감 시간</th>
                                        <th class="wth25">휴무</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="inputTimes">
                                        <td>월요일</td>
                                        <td>
                                            <div class="row-btw">
                                                <input type="number" class="time startHour" value="00" id="StartHour1">
                                                <span style="font-size: 150%;">:</span>
                                                <input type="number" class="time startMin" value="00" id="StartMin1">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="row-btw">
                                                <input type="number" class="time endHour" value="00" id="EndHour1">
                                                <span style="font-size: 150%;">:</span>
                                                <input type="number" class="time endMin" value="00" id="EndMin1">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="row-center">
                                                <input type="checkbox" class="switch" id="switch1" checked>
                                                <label for="switch1" class="switch">
                                                    <span class="on">영업</span>
                                                    <span class="off">휴무</span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="inputTimes">
                                        <td>화요일</td>
                                        <td>
                                            <div class="row-btw">
                                                <input type="number" class="time startHour" value="00" id="StartHour2">
                                                <span style="font-size: 150%;">:</span>
                                                <input type="number" class="time startMin"  value="00" id="StartMin2">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="row-btw">
                                                <input type="number" class="time endHour" value="00" id="EndHour2">
                                                <span style="font-size: 150%;">:</span>
                                                <input type="number" class="time endMin" value="00" id="EndMin2">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="row-center">
                                                <input type="checkbox" class="switch" id="switch2" checked>
                                                <label for="switch2" class="switch">
                                                    <span class="on">영업</span>
                                                    <span class="off">휴무</span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="inputTimes">
                                        <td>수요일</td>
                                        <td>
                                            <div class="row-btw">
                                                <input type="number" class="time startHour" value="00" id="StartHour3">
                                                <span style="font-size: 150%;">:</span>
                                                <input type="number" class="time startMin" value="00" id="StartMin3">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="row-btw">
                                                <input type="number" class="time endHour" value="00" id="EndHour3">
                                                <span style="font-size: 150%;">:</span>
                                                <input type="number" class="time endMin" value="00" id="EndMin3">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="row-center">
                                                <input type="checkbox" class="switch" id="switch3" checked>
                                                <label for="switch3" class="switch">
                                                    <span class="on">영업</span>
                                                    <span class="off">휴무</span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="inputTimes">
                                        <td>목요일</td>
                                        <td>
                                            <div class="row-btw">
                                                <input type="number" class="time startHour" value="00" id="StartHour4">
                                                <span style="font-size: 150%;">:</span>
                                                <input type="number" class="time startMin" value="00" id="StartMin4">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="row-btw">
                                                <input type="number" class="time endHour" value="00" id="EndHour4">
                                                <span style="font-size: 150%;">:</span>
                                                <input type="number" class="time endMin" value="00" id="EndMin4">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="row-center">
                                                <input type="checkbox" class="switch" id="switch4" checked>
                                                <label for="switch4" class="switch">
                                                    <span class="on">영업</span>
                                                    <span class="off">휴무</span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="inputTimes">
                                        <td>금요일</td>
                                        <td>
                                            <div class="row-btw">
                                                <input type="number" class="time startHour" value="00" id="StartHour5">
                                                <span style="font-size: 150%;">:</span>
                                                <input type="number" class="time startMin" value="00" id="StartMin5">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="row-btw">
                                                <input type="number" class="time endHour" value="00" id="EndHour5">
                                                <span style="font-size: 150%;">:</span>
                                                <input type="number" class="time endMin" value="00" id="EndMin5">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="row-center">
                                                <input type="checkbox" class="switch" id="switch5" checked>
                                                <label for="switch5" class="switch">
                                                    <span class="on">영업</span>
                                                    <span class="off">휴무</span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="inputTimes">
                                        <td>토요일</td>
                                        <td>
                                            <div class="row-btw">
                                                <input type="number" class="time startHour" value="00" id="StartHour6">
                                                <span style="font-size: 150%;">:</span>
                                                <input type="number" class="time startMin" value="00" id="StartMin6">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="row-btw">
                                                <input type="number" class="time endHour" value="00" id="EndHour6">
                                                <span style="font-size: 150%;">:</span>
                                                <input type="number" class="time endMin" value="00" id="EndMin6">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="row-center">
                                                <input type="checkbox" class="switch" id="switch6" checked>
                                                <label for="switch6" class="switch">
                                                    <span class="on">영업</span>
                                                    <span class="off">휴무</span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="inputTimes">
                                        <td>일요일</td>
                                        <td>
                                            <div class="row-btw">
                                                <input type="number" class="time startHour" value="00" id="StartHour7">
                                                <span style="font-size: 150%;">:</span>
                                                <input type="number" class="time startMin" value="00" id="StartMin7">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="row-btw">
                                                <input type="number" class="time endHour" value="00" id="EndHour7">
                                                <span style="font-size: 150%;">:</span>
                                                <input type="number" class="time endMin" value="00" id="EndMin7">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="row-center">
                                                <input type="checkbox" class="switch" id="switch7" checked>
                                                <label for="switch7" class="switch">
                                                    <span class="on">영업</span>
                                                    <span class="off">휴무</span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </span>

    <span id="modal"></span>

    <span id="script">
        <script src="/js/inputTime.js"></script>
        <script src="/js/number.js"></script>
        <script>
            const homeImg=document.getElementById('posHome');
            homeImg.src = '/icon/arrow_left.png';
            homeImg.onclick = function() {window.location.href = '/store-list';}

            document.getElementById('posNumberText').style.display = 'none';

            function saveStore(){
                const storeName = document.getElementById('storeName').value;
                const storeLocation = document.getElementById('storeLocation').value;
                const storeTel = document.getElementById('storeTel').value;
                const pointPercent = document.getElementById('pointPercent').value;
                const openClose = document.getElementById('openClose').checked;
                const timeList = [];
                for(let i=1; i<=7; i++){
                    const startTime = document.getElementById('StartHour'+i).value
                                        + ":" + document.getElementById('StartMin'+i).value;
                    const endTime = document.getElementById('EndHour'+i).value
                                        + ":" + document.getElementById('EndMin'+i).value;
                    const statusValue = document.getElementById('switch'+i).checked;
                    timeList.push({startTime:startTime, endTime:endTime, statusValue:statusValue});
                }
                $.ajax({
                    url:'/api/saveStore',
                    method:'POST',
                    contentType: "application/json",
                    data: JSON.stringify({name:storeName, location:storeLocation, telNumber:storeTel,
                                        pointPercent:pointPercent, status:openClose, timeList:timeList}),
                    success:function(data){
                        window.location.href = "/store/affiliation";
                    },
                    error: function(xhr) {
                        let response = JSON.parse(xhr.responseText);
                        if (response.errors) {
                            alert(response.errors.join("\n"));
                        } else {
                            alert("알 수 없는 에러가 발생했습니다.");
                        }
                    }
                });
            }
        </script>
    </span>

</th:block>
</html>