<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" dir="ltr">
<th:block th:replace="~{layout::all(~{this::#head} ,~{this::#content}, ~{this::#modal} ,~{this::#script})}">

    <span id="head">
        <title>직원관리-시급</title>
        <link href="/styles/searchBlock.css" rel="stylesheet">
    </span>

    <span id="content">
        <div class="grid-basic">
            <!-- 목록 -->
            <div class="box-leftPage cor-w">
                <div class="padding2" style="flex-direction: column;" id="defaultPage">
                    <span id="pageName" data-name="Wage" style="display: none;"></span>
                    <div class="row-btw">
                        <div class="rowName90">시급명 :</div>
                        <div class="rowContent">
                            <input type="text" id="searchInput">
                        </div>
                        <div class="rowBtn"></div>
                    </div>
                    <div class="listBox-90">
                        <div class="scrollTableBox" id="scrollArea">
                            <table class="management selectTable">
                                <thead>
                                    <tr>
                                        <th class="wth40">시급명</th>
                                        <th class="wth30">시급</th>
                                        <th class="wth30">소속인원</th>
                                    </tr>
                                </thead>
                                <tbody id="defaultInsertPoint"></tbody>
                            </table>
                        </div>
                        <div class="scrollBtnBox">
                            <button class="scroll" id="scrollUp" disabled>∧</button>
                            <button class="scroll" id="scrollDown" disabled>∨</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 오른쪽 화면 -->
            <div class="box-rightPage cor-w">
                <div class="padding2" style="flex-direction: column; justify-content: space-between;">
                    <span id="idNumber" data-number="0" style="display: none;"></span>
                    <div class="rows-box scrollBox">
                        <div class="row-btw">
                            <div class="rowName90">시급명</div>
                            <div class="rowContent">
                                <input type="text" id="name">
                            </div>
                        </div>
                        <div class="row-btw">
                            <div class="rowName90">시급</div>
                            <div class="rowContent">
                                <input type="text" class="autoComma" oninput="formatAutoComma(this)" id="perWage">
                            </div>
                        </div>
                        <div class="row-flex">
                            <div class="rowName90" style="align-items: start;">비고</div>
                            <div class="rowContent">
                                <textarea id="notes"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row-fit">
                        <button class="cud" id="crudD_Btn" onclick="deleteCrud()" disabled>삭제</button>
                        <button class="cud" id="crudCU_Btn" onclick="saveCrud()">저장</button>
                    </div>
                </div>
            </div>
            <!-- 메뉴버튼 -->
            <div class="box-menu-btn">
                <button class="menu" onclick="location.href='/employee/management'">직원 관리</button>
                <button class="menu" onclick="location.href='/employee/position'">직급 관리</button>
                <button class="menu selected">시급 관리</button>
                <button class="menu" onclick="location.href='/employee/payment'">급여 관리</button>
            </div>
        </div>
    </span>

    <span id="modal"></span>

    <span id="script">
        <script type="module" src="/js/management_action.js"></script>
        <script src="/js/management.js"></script>
        <script src="/js/number.js"></script>
        <script src="/js/scroll.js"></script>
    </span>

</th:block>
</html>