/* gridBox */
.box-list-category {
    border-radius: 10px;
    grid-column: 1 / span 6;
    grid-row: 1 / span 7;
    display: flex;
    background-color: white;
}
.box-enter {
    border-radius: 10px;
    grid-column: 1 / span 6;
    grid-row: 8 / span 3;
    display: flex;
    background-color: white;
    overflow: hidden;
}

.arrangementBox {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 5px solid #C0C0C0;
    border-radius: 10px;
    overflow: hidden;
}
.arrangementArrow {
    height: 100%;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    gap: 10%;
}

.arrangementTitle {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    color: white;
    white-space: nowrap;
    background-color: #C0C0C0;
}

/* table */
table.category {
    width: 100%;
}
table.category tr {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
table.category td {
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: 3px solid #C0C0C0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
table.category div {
    flex: 1;
    display: flex;
    justify-content: center;
}
table.category img {
    height: 1em;
    vertical-align: middle;
    cursor: pointer;
}